body {
	margin-left:18%;
}

.games {padding:0 5% 10px 5%; background-color:white; color:red;}
.games img {

border:white 1px solid;
}

.games img:hover {

	cursor:pointer;
}

.dotrow {
	
	margin:65px 5% 5% 5%;
}



.dotrow div {

	border:#1a75ff 2px solid;
	padding:10px 10px 30px 10px;
	
}

.dotrow img {
	border:black 1px solid;
margin:10px 10px 10px 20px;	
	
}

.dotrow img:hover {
	border:#1a75ff 1px solid;
}