body {
	
}

#about {
	margin:50px;
	margin-top:105px;
	background-color:#f2f2f2;
	border:black 1px solid;
	border-radius:20px;
	padding:10px 30px 10px 20px;
}

#enterit {
	background-color:#F8F8F8; 
	padding:50px 70px 100px 70px;
	margin:50px;
	margin-top:105px;
	border:#E0E0E0 2px solid;
	border-radius:20px;
}

#enterit h2, #enterit h4 {
	color:#B8B8B8;
	font-family:'Raleway';
}

form input {
	color:#A8A8A8;
	border:#E0E0E0 2px solid;
	border-radius:10px;
}