#header {height:65px; background-color:white; color:red; padding:0 10px 5px 40px; border-bottom:black 1px solid;
position:fixed; top:0; z-index:100; width:100%; left:18%; transition:0.5s; overflow:hidden;
box-shadow: 10px 10px 24px black;

}

#lefter {position:fixed; width:18%; height:100%; background-color:black; color:white; left:0;
z-index:101; transition:0.5s; border:black 1px solid; padding:50px 0 10px 0; overflow-x:hidden;
}

body {margin-left:18%; transition:0.5s; overflow-x:hidden;}

#colbtn {}

.red {
	color:gray;
}

#colbtn:hover {color:#d9d9d9; cursor:pointer;}
#colbtn:active {color:red;}

#slide {width:100%; height:100%; overflow:hidden; border-bottom:black 1px solid; margin-top:65px;}

/*#img1, #img2, #img3 {display:none;}*/

.slideimg {width:100%;}

#logo { font-size:30px; font-family:'Raleway';}

.rales {font-family:'Raleway';}

#lefter a {
	color:white; font-size:24px; cursor:pointer; text-decoration:none;
}

#lefter div {
	width:100%; padding:7px 10px 7px 50px;
}

#lefter div:hover {
	background-color:#4d4d4d;
}

.redtitl {
	color:#666666;
	text-align:center;
}

a {
	
}

#footer {
	background-color:#f2f2f2;
	padding-top:30px;
	padding-bottom:40px;
	
}

.csslink {
	color:black; 
	text-decoration:underline;
	
}

.csslink:hover {
	color:#808080;
}

a:visited {
	color:blue; text-decoration:none;
}

.middlepic {
border-left:none;
border-right:none;
}