#header {height:65px; background-color:white; color:red; padding:0 10px 5px 40px; border-bottom:black 1px solid;
position:fixed; top:0; z-index:100; width:100%; left:250px; transition:0.5s; overflow:hidden;
}

#lefter {position:fixed; width:250px; height:100%; background-color:black; color:white; left:0;
z-index:101; transition:0.5s; border:black 1px solid; padding:50px 0 10px 0;
}

body {margin-left:250px; transition:0.5s; overflow-x:hidden;}

#colbtn {}

#colbtn:hover {color:#d9d9d9; cursor:pointer;}
#colbtn:active {color:red;}

#slide {width:100%; height:50%; overflow:hidden; border-bottom:black 1px solid; margin-top:65px;}

#img1, #img2, #img3 {display:none;}

.slideimg {width:100%;}

#logo { font-size:30px; font-family:'Raleway';}

.rales {font-family:'Raleway';}

#lefter a {
	color:white; font-size:24px; cursor:pointer; text-decoration:none;
}

#lefter div {
	width:100%; padding:7px 10px 7px 50px;
}

#lefter div:hover {
	background-color:#4d4d4d;
}

.redtitl {
	color:red;
}

.middlepic {
border-left:none;
border-right:none;
}