.games {padding:0 5% 40px 5%; background-color:white; color:red; border-bottom:black 1px solid;}
.games img {
	border-left:black 1px solid;
	border-right:black 1px solid;
		border-top:white 1px solid;
	border-bottom:white 1px solid;
}

.games img:hover {
	
	cursor:pointer;
		border-top:red 1px solid;
	border-bottom:red 1px solid;
}