#header {height:65px; background-color:red; color:white; padding:0 10px 0 40px;}

#lefter {position:fixed; width:250px; height:100%; background-color:black; color:white; left:0;
z-index:101; transition:0.5s;
}

body {margin-left:250px; transition:0.5s;}

#colbtn {}

#colbtn:hover {color:#d9d9d9; cursor:pointer;}